body {
    background-image: url(../images/isometropolis.jpg);
}

.main-box {
    background-color: whitesmoke;
    min-height: 50vh;
    margin-bottom: 10px;
}
#add {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.active {
    background-color: #0062cc
}

.gen-button {
    margin: 5px;
}
.dl-btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .dl-btn:hover {
    background-color: RoyalBlue;
  }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        justify-content: center;
    } 
    .dylan {
        width: 100%;
    }
    .main-box {
        width: 95vw;
        margin: 0 auto;
        margin-bottom: 10px;
    }
   
}
/* *:hover {
    
} */