body {
    background-image: url(../images/isometropolis.jpg);
}
.parent::after {
    content: '';
}
.parent {position: relative;}
.parent::after {
	content: ''; 
	width: 100%; 
	height: 100%;
	background-color: whitesmoke; 
	opacity: 0.9; 
	position: absolute; 
	top: 0; 
	left: 0;
	z-index: -1;
}
.main-box {
    margin-bottom: 10px;
}
#add {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
.titletop {
    font-size: 24pt;
    font-weight: bold;
}

.fav {
    color: gold;
}
.active {
    background-color: #0062cc
}
.buttons {
    padding-bottom: 10px;
    padding-top: 10px;
}
.gen-button {
    margin: 5px;
    opacity: 1;
}
.dl-btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .dl-btn:hover {
    background-color: RoyalBlue;
  }
.fas {
    font-weight: 900;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        justify-content: center;
    } 
    .dylan {
        width: 100%;
    }
    .main-box {
        width: 95vw;
        margin: 0 auto;
        margin-bottom: 10px;
    }
   
}
/* *:hover {
    
} */